---
layout: default
---
<div>
  <div class="col-md-4 col-sm-6">
    <div class="row">
    <img src="assets/img/propic.png" class="col-xs-8 col-xs-offset-2 img-fit">
    </div>
    <h2>Derick Yang</h2>
    <hr>
    Hi! I'm Derick. Tufts University Class of 2018, studying computer science and applied mathematics. Currently a software engineering intern at the MathWorks in Natick, Massachusetts. I enjoy tennis, running, traveling, hiking, climbing, coding, and learning.
    <br><br><a href="/resume/DerickYangCurrentResume.pdf">Resume</a><br><br>
    {% include social.html %}
    <hr>
  </div>
  <div class="col-md-8 col-sm-6 col-xs-12">
  <img src="assets/img/hk.png" class="img-fit">
    <ul class="list-unstyled">
      {% for product in site.products %}
      <li>
        <div class="col-xs-12 col-md-6" style="background-color: #{{ product.desc }}">
          <h3>
          <a id="{{ product.title }}" href="{{ product.url | prepend: site.baseurl }}" style="color: white;">
            {{ product.title }}
          </a>
        </h3>
        <hr>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
