    <div class="social-links">
      <a href="https://github.com/dyang108"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/derick-yang"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/dyang108"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="https://open.spotify.com/user/1266550198"><i class="fa fa-spotify" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/derickwyang/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="/resume/DerickYangCurrentResume.pdf"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
      <a href="mailto:derickwyang@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </div>
