---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';



// Our variables
$base-font-family: 'Exo' sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * .875;
$large-font-size:  $base-font-size * 1.5;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fff;
$background-color: #808080;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$white:            #fff;
$black:            #000;
$link-color:       #8cc63e;
$base-color:       #417dc1;
$dark-gray:        rgba(0, 0, 0, .25);
$dark-dark-gray:   rgba(0, 0, 0, .5);
$darkest-gray:     rgba(0, 0, 0, .9);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


// to import this file: @import url("/assets/css/main.css");

// Import partials from `sass_dir` (defaults to `_sass`)
@import
'base',
'layout';

// Custom css

.wrapper {
  max-width: 100%;
}

.page-content {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
}

.page-heading {
  font-family: Exo;
  font-size: 50px;
  text-align: center;
}

.site-header {
  background-color: $base-color;
  border-bottom: 0;
  border-top: 0;
  box-shadow: 0 2px 5px $black;
  padding-left: 5%;
  padding-right: 5%;
}

.site-footer {
  font-size: 12px;
  margin: 0 auto;
  padding: 0;
}


.container {
  border-color: $black;
  border-top: 11px;
  font-family: Exo;
  margin: 30px;
}

a {
  color: $white;
  text-decoration: none;

  &:visited {
    color: $white;
  }

  &:hover {
    color: $base-color;
  }
}

img {
  max-width: 100%;
}

.footer-links > li {
  display: block;
  float: right;
  height: 120px;
  margin-left: 6px;
  width: auto;

  > a {
    color: $white;

    &:link {
      color: $white;
      text-decoration: none;
    }

    &:hover {
      color: $base-color;
    }
  }
}

.beta-dark-background {
  background-image: url('{{ site.baseurl }}/assets/img/beta-dark-background.jpg');
  background-size: cover;
}

// .product-select {
//   background: $dark-dark-gray;
//   border-radius: 10px;
//   max-height: 80px;
//   padding: $spacing-unit;

//   &:hover {
//     background: $darkest-gray;
//   }
// }
html, body {
  margin: 0;
  width: 100%;
  font-family: Exo;
}

.product-wrapper,
.post-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: $spacing-unit;
  padding-left: 20%;
}

.faq-img {
  display: inline-block;
  margin: 0 30px 30px 0;
  max-height: 100px;
}

.search {
  float: right;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-box {
  background-color: $grey-color-light;
  border-radius: 5px;
  border-width: 0;
  float: right;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
}

[type='text'] {
  padding-left: 5px;

  &:focus {
    outline-style: none;
  }
}

[type='submit'] {
  &:active {
    background-color: $grey-color;
    outline-style: none;
  }

  &:focus {
    outline-style: none;
  }
}


// p {
//   background-color: $dark-dark-gray;
//   display: block;
//   margin-bottom: 15px;
//   // max-height: 0;
//   overflow: hidden;
//   padding: 20px 10%;
//   // -moz-transition: max-height .3s, padding .3s;
//   // -ms-transition: max-height .3s, padding .3s;
//   // -o-transition: max-height .3s, padding .3s;
//   // -webkit-transition: max-height .3s, padding .3s;
//   // transition: max-height .3s, padding .3s;
// }



.copyright {
  background: none;
  display: inline;
  font-size: 12px;
  padding: 0;
}

.answer {
  background-color: $dark-dark-gray;
  display: block;
  max-height: 300px;
  padding: 20px 10%;
  // -moz-transition: max-height .3s, padding .3s;
  // -ms-transition: max-height .3s, padding .3s;
  // -o-transition: max-height .3s, padding .3s;
  // -webkit-transition: max-height .3s, padding .3s;
  // transition: max-height .3s, padding .3s;
}

.post-title {
  background-color: $dark-dark-gray;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  text-align: left;
  width: 200px;

  &:hover {
    background-color: $darkest-gray;
  }
}

// .bullet {
//   margin-right: 15px;
//   max-height: .8em;
//   -ms-transform: rotate(0deg);
//   -webkit-transform: rotate(0deg);
//   transform: rotate(0deg);
//   transition: transform .3s;
// }

.product-desc {
  height: 3em;
}

.logo {
  background-image: url('{{ site.baseurl }}/assets/img/derick-logo.png');
  background-repeat: no-repeat;
  background-size: 50px;
  height: 78px;
  margin-left: 10px;
  position: absolute;
  top: 5px;
  width: 50%;

  &:hover {
    opacity: .7;
  }
}

.return {
  color: $base-color;
  font-size: 16px;
  margin-top: 20px;
}

.expand-link {
  border-radius: 12px;
  display: inline-block;
  float: right;
  font-size: 16px;
  margin-right: -80px;
  margin-top: 7px;
  padding-left: 10px;

  // &:hover {
  //   background-color: $dark-dark-gray;
  // }
}

.submit {
  background: $grey-color-light;
  background-image: url('{{ site.baseurl }}/assets/img/search.png');
  background-position: 3px 3px;
  background-repeat: no-repeat;
  background-size: 80% auto;
  border-radius: 5px;
  border-width: 0;
  float: right;
  height: 22px;
  width: 22px;
}

.content-preview {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-preview-wrapper {
  background-color: $dark-dark-gray;
  display: block;
  margin-bottom: 15px;
  max-height: 100px;
  overflow: hidden;
  padding: 30px;

}

.derick-logo {
  background-image: url('{{ site.baseurl }}/assets/img/derick-logo.png');
  background-size: 70px;
  height: 75px;
  left: 50%;
  margin-left: -14px;
  opacity: .6;
  position: absolute;
  width: 55px;

  &:hover {
    opacity: 1;
  }
}

.post-link {
  background-color: $dark-gray;
  cursor: pointer;
  display: block;
  font-size: 20px;
  padding: 10px;

}

.post-wrapper {
  background-color: $dark-gray;
  box-shadow: 0 2px 5px $black;
  margin: 3%;
  padding: 2%;
}

.error {
  background-color: $dark-gray;
  box-shadow: 0 2px 5px $black;
  margin: 3%;
  padding: 2%;
  padding-bottom: 1%;
  text-align: center;
}

.propic {
  height: 100px;
  border-radius: 50px;
  margin: 20px;
  display: inline-block;
}

.profiles {
  margin: 0 auto;
  width: 704px;

  > div {
    width: 350px;
    height: 100%;
    font-size: 30px;
    display: inline-block;
    // float: left;
  }

  .site-icon {
    height: 30px;
    margin-right: 10px;
  }

  .link-text {
    display: inline;
  }
}

.search-results {
  margin: 30px;
}

.result {
  background-color: $dark-dark-gray;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  > a > h3 {
    border-bottom: 2px solid white;
    margin-bottom: 10px;
  }
}

p a {
  text-decoration: underline;
  color: $link-color;

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $brand-color;
  }
}

.spotify-play {
  height: 80px;
  margin: 0 auto;
  vertical-align: center;
  box-shadow: 0 2px 10px $black;
}

@media (max-width: 600px) {
  .product-wrapper,
  .post-header {
    padding-left: $spacing-unit;
  }
  .search-box {
    width: 150px;
  }
}

@media (max-width: 720px) {

  .derick-logo {
    display: block;
    left: 46.5%;
    margin-bottom: 10px;
    position: relative;
  }

  .copyright {
    display: block;
    text-align: center;
  }

  .footer-links {
    float: center;
    margin-bottom: 10px;

    > li {
      float: none;
      height: auto;
      text-align: center;
    }
  }
}

@media (max-width: 764px) {
  .profiles {
    width: 204px;
    
    .link-text {
      display: none;
    }

    .site-icon {
      height: 50px;
      margin-right: 10px;
    }

    div {
      width: 204px;
    }
  }
}
