---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';



// Our variables
// $base-font-family: 'Exo' sans-serif;
$base-font-size:   20px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * .875;
$large-font-size:  $base-font-size * 1.5;
$base-line-height: 1.5;

$spacing-unit:     40px;

$text-color:       #fff;
$background-color: #808080;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$white:            #fff;
$black:            #000;
// $link-color:       #aea0ff;
$link-color:       #16a085;
$header-color:       #333;
$base-color:       #333;
// $base-color:       #417dc1;
$dark-gray:        rgba(0, 0, 0, .25);
$dark-dark-gray:   rgba(0, 0, 0, .5);
$darkest-gray:     rgba(0, 0, 0, .9);
$footer-height:    100px;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// to import this file: @import url("/assets/css/main.css");

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  'syntax-highlighting';

ul {
  list-style: none;
}

p {
  padding-bottom: 1em;
}

a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $base-color;
  }

  &:link {
    color: $link-color;
  }
}

body {
  font-size: large;
}

html, body {
  height: 100%;
}

.site-header {
  background-color: $header-color;
  min-height: 56px;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 20px;
}

.search {
  margin-top: 12px;
}

.logo {
  background-image: url('{{ site.baseurl }}/assets/img/derick-logo.png');
  background-repeat: no-repeat;
  background-size: 50px;
  height: 50px;
  margin-left: 10px;
  position: absolute;
  top: 4px;
  width: 50px;

  &:hover {
    opacity: .7;
  }
}

.site-footer {
  background-color: #eee;
  height: $footer-height;
  padding-top: 35px;
  width: 100%;
}

.full-height {
  min-height: 100%;
  padding-bottom: 20px;
  margin-bottom: -$footer-height;
}

.full-height:after {
  content: "";
  display: block;
}
.site-footer, .full-height:after {
  height: $footer-height; 
}

.post {
  height: 400px;
  overflow: hidden;
}

.img-fit {
  max-height: 100%;
  max-width: 100%;
}

.social-links {
  font-size: 20px;
  a {
    &:hover {
      color: $base-color!important;
    }
  }
}

.img-lineup {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  &:hover {
    opacity: .7;
  }
}

.img-cont {
  position: relative;
  height: 240px;
  overflow: hidden;
}

.img-outer-cont {  
  padding: 2px!important;
}

.img-caption {
  position: absolute;
  bottom: 4px;
  left: 8px;
  font-size: 12px;
  color: white;
}

.caption-container {
  background-color: blue;
  bottom: 0;
  height: 40px;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(10, 10, 10, .95));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(10, 10, 10, .95));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(10, 10, 10, .95));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(10, 10, 10, .95));
}

.comment-section {
  background-color: #eee;
  padding: 16px;
  margin-top: 25px;
}

.img-container:hover .img-fit {
  opacity: 0.5;
}

.img-container:hover .overlay {
  opacity: 1;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.img-fit {
    transition: .5s ease;
}

.overlay-text {
  color: black;
  font-size: 24px;
  padding: 16px 32px;
}

.subscribe {
  background-color: #16a085;
  height: 400px;
  padding: 20px;
  padding-top: 110px;
}

.white {
  color: $white;
}

@media only screen and (min-width: 768px) {
  .post-container {
    width: 75%;
    margin: 0 auto;
  }
}

