---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url("/assets/css/main.css");

$base-font-family: 'Exo, Helvetica Neue, Verdana', sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * .875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fff;
$background-color: #808080;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$white:            #fff;
$black:            #000;
$cipher-color:     #00b4a4;
$dark-gray:        rgba(0, 0, 0, .25);
$dark-dark-gray:   rgba(0, 0, 0, .5);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

p {
  background-color: $dark-dark-gray;
  display: block;
  margin-bottom: 15px;
  max-height: none;
  overflow: hidden;
  padding: 20px 10%;
}

h2 {
  cursor: default;

  &:active {
    background-color: $dark-gray;
  }
}








