---
layout: default
---
<!-- NOTE: don't add any h2 or p tags -->
<header class="post-header" style="background-image: url({{ page.background }}">
	<img class="faq-img" src="{{ site.baseurl }}/assets/img/{{ page.slug }}.png"/>
	<h1 class="post-title" itemprop="name headline"><div style="color: #{{ page.color }};">{{ page.title }}</div>
		<div class="return product-desc">
			<a href="{{ site.baseurl }}/">&#60; Return to main</a>
		</div>
	</h1>
</header>
<div class="post-content" itemprop="articleBody">
    {{ content | markdownify }}
</div>
<script src="{{ site.baseurl }}/assets/js/effects.js" async></script>
