---
layout: default
---
<header class="post-header">
  <h1 itemprop="name headline"><div style="color: #{{ page.color }};">{{ page.title }}</div>
  </h1>
</header>
<div class="return product-desc">
  <a href="{{ site.baseurl }}/"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Return to main</a>
</div>
<div class="post-content" itemprop="articleBody">
  <div class="col-md-4 col-sm-6 post">
    <hr>
    <div class="subscribe">
      <h3 class="white">Subscribe to posts on {{ page.title }}</h3>
      <form class="input-group">
        <input type="text" id="email-field" name="email" placeholder="Email" class="form-control">  
        <span class="input-group-btn">
        <button class="btn btn-default" onclick=subscribe('{{ page.title }}') type="button">Subscribe</button></span>
      </form>
    </div>
  </div>
  {{ content | markdownify }}
</div>
